@media (min-width: 640px) {
    .place-container section {
        grid-template-areas:
            "image name"
            "image address"
            "image description";
        grid-template-columns: 300px 1fr;
        gap: 1.5rem;
        padding: 1rem;
        align-items: start;
    }

    .place-container section h2 {
        align-self: end;
        margin: 0;
    }

    .place-container section address,
    .place-container section p {
        margin: 0;
        text-align: left;
    }

    .place-container section img {
        transition: transform 0.75s ease;
    }

    .place-container section img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

@media (min-width: 1024px) {
    .place-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
