:root {
  --main-color: #344e41;
  --primary-color: #3a5a40;
  --secondary-color: #588157;
  --light-green: #a3b18a;
  --ash-color: #dad7cd;

  --main-font: 'Josefin Sans', sans-serif;
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Pacifico', cursive;
}

/* Main Content */
main {
  margin: 2rem;
}

main > h1,
main > p {
  text-align: center;
  color: var(--main-color);
}

main > h1 {
  font-family: var(--main-font);
}

main > p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: var(--primary-font);
}

/* Places Grid */
.place-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.place-container section {
  display: grid;
  gap: 1rem;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--ash-color);
  box-shadow: 1px 3px 8px #545353;
  color: var(--main-color);
  grid-template-areas:
    "name"
    "image"
    "address"
    "description";
}

.place-container section h2,
.place-container section address,
.place-container section p {
  text-align: center;
}

.place-container section h2 {
  grid-area: name;
  margin: 0;
  padding-bottom: 1px;
  font-family: var(--main-font);
}

.place-container section img {
  grid-area: image;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.place-container section address {
  grid-area: address;
  padding-bottom: 10px;
  font-style: normal;
}

.place-container section p {
  grid-area: description;
  font-family: var(--primary-font);
}

/* Wayfinding */
#navLinks a.active {
  background-color: var(--main-color);
  border-bottom: 2px solid var(--ash-color);
  font-weight: bold;
}

/* Mobile Menu */
#menu {
  display: block;
  font-size: 2rem;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* Tablet/Desktop */
@media (min-width: 768px) {
  #menu {
    display: none;
  }

  #navLinks {
    display: flex;
    gap: 20px;
  }
}

/* Small Mobile Screens */
@media (max-width: 600px) {
  .list section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}