:root {
  --main-color: #344e41;
  --primary-color: #3a5a40;
  --secondary-color: #588157;
  --light-green: #a3b18a;
  --ash-color: #dad7cd;

  --main-font: 'Josefin Sans', sans-serif;
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Pacifico', cursive;
}

main {
  margin: 2rem;
}

main > h1 {
  text-align: center;
  font-family: var(--main-font);
  color: var(--main-color);
}

main > p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--main-color);
  font-family: var(--primary-font);
}

.place-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.place-container section {
  box-shadow: 1px 3px 8px #545353;
  padding: 20px;
  background-color: var(--ash-color);
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "name"
    "image"
    "address"
    "description";
}

.place-container section h2 {
  text-align: center;
  padding-bottom: 10px;
  font-family: var(--main-font);
  color: var(--main-color);
  grid-area: name;
}

.place-container section img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  grid-area: image;
}

.place-container section address {
  text-align: center;
  padding-bottom: 10px;
  grid-area: address;
  font-style: normal;
}

.place-container section p {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--main-color);
  grid-area: description;
}

@media (min-width: 768px) {
  .place-container section {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name name"
      "image address"
      "image description";
    align-items: center;
  }
}