@media (min-width: 641px) {
    .place-container section {
        display: grid;
        grid-template-areas: 
            "image name"
            "image address"
            "image description";
        grid-template-columns: 150px 1fr;
        gap: 0.5rem 1rem;
        align-items: start;
    }

    .place-container section img {
        grid-area: image;
        width: 100%;
        height: auto;
        transition: 0.75s;
    }

    .place-container section img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .place-container section h2 {
        grid-area: name;
        margin: 0;
    }

    .place-container section address {
        grid-area: address;
        margin: 0;
    }

    .place-container section p {
        grid-area: description;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .place-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .place-container section img {
        transition: 0.75s;
    }

    .place-container section img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}