/* =========================
   HERO / WELCOME SECTION
========================= */

/* Base Styles */

.cta-button {
    display: flex;
    margin-top: 5rem;
}


/* Responsive Adjustments */
@media (max-width: 600px) {
    .wlc-msg h1 {
        font-size: 2.5rem;
    }

    .cta-button {
        margin-top: 3rem;
    }
}
